<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="textarea" >Please Sign Below to confirm receipt of order.</label>
                <textarea rows="4" cols="50" id="confirm" name="confirm">
 </textarea>
<a href="/order-list/delete/<%=_id %>" class="btn btn-primary" >Confirm</a>
    </div>
</div>
</div>

<% include ../partials/footer.ejs %>