<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>Order Location</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var location = "<%= order.Location %>"
  if(location=="Toronto"){
  var uluru = {lat:43.653, lng: -79.383};
  }
  else if(location=="Mississuaga")
  {
    var uluru = {lat:43.599, lng: -79.603};
  }
  else if(location=="Scarborough")
  {
    var uluru ={lat:43.769,lng:-79.298};
  }
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 9, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANJdCCVK1R1hs1dC-MMKbGR_IME4mneoA&callback=initMap">
    </script>
  </body>
</html>